@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

.background {
    position: relative;
    background-image: url(umesh-soni-qRGp_IaOlqQ-unsplash.jpg);
    width: 30vw;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.logo {
    min-height: 100px;
    padding: 10px 0px 10px 50px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(73, 73, 73, 0.5);
    
}

.nord {
    font-family: "Norse-Bold", sans-serif;
    font-size: 80px;
    color: white;
}

.photo-footer {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.header {
    margin-left: 50px;
}

span {
    font-style: italic;
}


