@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: whitesmoke;
}

.background {
    position: relative;
    background-image: url(umesh-soni-qRGp_IaOlqQ-unsplash.jpg);
    width: 30vw;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.logo {
    min-height: 100px;
    padding: 10px 0px 10px 50px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(73, 73, 73, 0.5);
    
}

.nord {
    font-family: "Norse-Bold", sans-serif;
    font-size: 80px;
    color: white;
}

.photo-footer {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.header {
    font-weight: 600;
    margin: 0;
    height: 150px;
    padding: 50px 0 0 50px;
    max-width: 600px;
}

span {
    font-style: italic;
}

fieldset {
    position: relative;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    padding: 50px 0 50px 50px;
    max-width: 500px;
}

.fieldset {
    background-color: white;
    box-shadow: 0px 5px 5px 0px #999189;
    
}

.input {
    display: flex;
    flex-direction: column;
}

legend {
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 50px;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-bottom: 4px;
}

input{
    margin-right: 50px;
    outline: none;
    width: 180px;
    box-sizing: border-box;
    border: solid 1px;
    border-radius: 2px;
    border-color: #E5E7EB;
    padding: 4px 0 4px 6px;
}

input:invalid{
    border-color: red;
}


input:focus {
    border-color: blue;
    box-shadow: 0px 5px 5px 0px #999189;
}


input + span {
    position: relative;
  }
  
input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "* Passwords have to match";
    color: red;
    right: 50px;
}

input:valid + span::after{
    content: "";
}

button {
    margin: 20px 0 20px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 191, 255);
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 5px 5px 0px #999189;
}

.footer {
    margin-left: 50px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(0, 191, 255);
}